* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10;
    padding: 10;
    
}

.separador {
    
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("../src/images/surfers-863696_960_720.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
    filter: drop-shadow(30%);
    padding: 15%;
    margin-bottom: 20px;
    box-shadow: 2px 2px black;
    

}
.separador p{
    font-size: 35px;
    color: rgb(59, 59, 59);  
}

button{
    background-color: rgb(59, 59, 59);
    color: white;
}

@media screen and (min-width: 700px) {
    
    .separador p{
        font-size: 50px;
    }
}
