.carousel-inner img{
   height: 335px;
}



.separacion{
    border: 3px solid grey;
    
}

@media screen and (min-width: 700px){
    .carousel-inner {
        height: auto;
    }

    .carousel-inner img{
       
        height: auto;
    }

    .carousel-caption h5{
        font-size: 100px;
        color: rgba(255, 255, 255, 0.74);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
       
    }

    .carousel-caption p{
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgba(255, 255, 255, 0.74);
    }

    .carousel-caption{
        margin-bottom: 400px;
    }
    
}
    

