.text-center {
    background-color: #212529;
    
    
    
}
.text-ligth{
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left:10px; 
}

#footer{
    
    position: fixed;
    margin-bottom: 0;
    width: 100%;
}
