.text-center {
    background-color: #212529;
    
    
    
}
.text-ligth{
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-left:10px; 
}

.sponsor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sp{
    display: flex;  
    justify-content: space-around;
}

.sponsor img{
    width: 85px;
}

#footer{
    margin-bottom: 0;
    width: 100%;
}

.sponsor{
    height: 200px;
    background-color: lightgrey;
}
