
.perfil{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.mi_perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:justify;

}

.card{
    border: none;
}

.perfil_link a{
    font-size: 18px;
    color: rgb(20, 156, 138);
}

.mi_perfil label{
    font-weight: bold;
}

.boton_logout{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boton_logout .btn{
    background-color: rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    color: white;
    width: 100%;
}