.playa{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;  
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    padding: 3%;
    box-shadow: 2px 2px 2px 2px rgb(41, 41, 41);
}

.playa p{
    text-align: center;
}

.playa_info{
    padding: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.date{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    padding: 0 20% 0 20%;
}

.date input{
    border: 2px solid black;
    
}

.date label{
    font-weight: bold;
    font-size: 18px;
}

.material_reserva{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(41, 41, 41);
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;

}

.reserva{
    display: flex;
    justify-content: center;
    margin: 5% 2% 5% 0;
    padding: 3%;

}

.reserva .btn-primary{
    width: 75%;
    margin-right: 10px;
    background-color: rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    color: white;
    
    
}

.reserva .btn-primary:hover {
    transform: scale(1.2);
    background-color: rgb(92, 91, 91);
}

.line{
    border: 1px solid grey;
    width: 80%;
    margin-left: 40px;
}

