.header_navbar {
    /* box-shadow:  0 3px  3px 0  rgb(41, 41, 41);  */
    background-color: black;
    

}


/* .navbar-dark .navbar-nav .nav-link:hover{
    transform: scale(1.2);
    color: red;
} */

.navbar-dark .navbar-nav .nav-link {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:lightgrey;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid grey;
    
}

/* .navbar-dark .navbar-nav {
    box-shadow: 0 0 0 1px grey inset;
    
} */



.navbar-dark .navbar-toggler {
    border-color: transparent;
    
}

.ordenador{
    height: 50px;
}






.navbar-toggler:focus {
    box-shadow: none;   
}



.header_logo {
    display: flex;
    align-items: center;
}



.header_logo img{
    width: 200px;
}


