.header_navbar {
    box-shadow:  0 0  3px 0  rgb(41, 41, 41); 
    background-color: rgb(230, 228, 228);
    display:flex;
    flex-wrap: nowrap;

}
.container-fluid{
    display: flex;
    padding: 5%;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    
}

.navbar-toggler:focus {
    box-shadow: none;   
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo p{
    margin: 3px 0 0 10px;
    /* color: dimgray; */
    color: white;
    text-shadow: 1px  0px 0px grey,
               0px  1px 0px grey,
              -1px  0px 0px grey,
               0px -1px 0px grey;
    font-style: italic;
    /* font-weight: bold; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.header_logo img{
    width: 60px;
}


