
.linea{
    box-shadow: 2px 2px 2px 2px rgb(41, 41, 41);
    width: 90%;
    margin: auto;
    text-align: center;
}

.fotoTabla{
    margin: 20px;
    width: 90%

}

.fotoTabla img{
    width: 100%;
    
}